:root {
  /*cores da paleta*/
  --branco:#ffffff;
  --amarelo:#FFD552;
  --laranja:#FF992A;
  --VerdeClaro:#AAE26A;
  --VerdeEscuro:#29AE6A;
  --VerdeAbacate:#29E26A;
  --AzulCinzento:#215663;
  --AzulEscuro:#021F30;
  /*cores fora da paleta*/
  --preto:#000;
  --azul:#0057FF;
}

header {
  background-color: var(--AzulCinzento);
}
header h1 {
  color: var(--VerdeAbacate);
}

.divparanavegacao {
  background-color: var(--laranja);
}

a {
  color: var(--preto);
}

.h1header {
  color: var(--VerdeAbacate);
}

#h1direitasecao1 {
  color: var(--VerdeAbacate);
}

#receitaPratoEspecial {
  color: var(--VerdeAbacate);
}

#h1direitasecao1-2 {
  color: var(--VerdeAbacate);
  background-color: var(--amarelo);
}

p {
  color: var(--preto);
}

.saibaMais {
  color: var(--azul);
}

#h1pratosespeciais {
  color: var(--preto);
  background-color: var(--amarelo);
}

.nomeDoPrato {
  color: var(--preto);
  background-color: var(--amarelo);
}

#sextasecao {
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(41, 226, 106) 70%);
}

.redesSociais {
  border: var(--preto);
}

p {
  font-size: 1rem;
}

h1 {
  font-size: 1rem;
}

.h1header {
  padding-left: 20%;
  font-size: 1rem;
  font-family: cursive;
}

h1 {
  padding-left: 20%;
  font-size: 1rem;
  font-family: cursive;
}

a {
  font-family: cursive;
  font-size: 1rem;
}

#fundador {
  margin: 0% 0% 0% 15%;
}

#cofundadores {
  margin: 0% 0% 0% 10%;
}

#smith {
  margin: 0% 0% 0% 10%;
}

#domini {
  margin: 0% 0% 0% 10%;
}

#garrido {
  margin: 0% 0% 0% 10%;
}

#lee {
  margin: 0% 0% 0% 10%;
}

#brow {
  margin: 0% 0% 0% 10%;
}

html {
  font-size: 16px;
}

.divparanavegacao {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 0rem;
}

#PrimeiraSecao {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
}

#pratoespecial {
  width: 40%;
  margin: 0rem 1rem 0rem 0rem;
}

#direitaSecao1 {
  font-size: 100%;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem 0rem 0rem 0rem;
}

#h1direitasecao1 {
  font-size: 1rem;
  font-family: cursive;
}

#receitaPratoEspecial {
  font-size: 0.5rem;
  font-family: cursive;
}

#h1direitasecao1-2 {
  font-size: 1.25rem;
  font-family: cursive;
  padding: 2rem 1rem 2rem 1rem;
}

#segundasecao {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

p {
  font-size: 1rem;
  font-family: cursive;
  color: var(--preto);
}

#imgSegundaSecao {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.creditosDaImagem {
  font-family: Arial;
  font-size: 0.5rem;
}

.saibaMais {
  font-family: Arial;
  font-size: 1rem;
}

#quartasecao {
  margin: 2rem 0rem 4rem 0rem;
}

#introQuartaSecao {
  margin: 0rem 0rem 2rem 0rem;
}

#h1pratosespeciais {
  font-size: 1.5rem;
  font-family: cursive;
}

.listaPrincipaisPratos {
  display: flex;
  flex-direction: column;
}

.nomeDoPrato {
  font-size: 1rem;
  font-family: cursive;
  margin: 0% 50% 10% 0%;
}

.imagemDosPratos {
  width: 100%;
  margin: 0% 0% 10% 0%;
}

#quintasecao {
  margin: 0rem 0rem 4rem 0rem;
}

#faleConosco {
  font-size: 1rem;
  font-family: Arial;
}

#sextasecao {
  font-size: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(41, 226, 106) 70%);
}

.redesSociais {
  font-size: 1rem 5rem;
  border-radius: 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.imgRedesSociais {
  width: 20%;
}

h5 {
  font-size: 0.5rem;
  font-family: Arial;
  margin: 0% 0% 0% 10%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: var(--AzulCinzento);
}
header .logodoheader {
  width: 5em;
}
header .h1header {
  color: var(--VerdeAbacate);
  padding: 0% 30% 0% 20%;
  font-size: 1rem;
  font-family: cursive;
}

#fundadora {
  width: 7rem;
  margin: 0% 0% 0% 30%;
}

html {
  font-size: 16px;
}

#subchef {
  width: 8rem;
  margin: 0% 0% 0% 30%;
}

#marcel {
  width: 8rem;
  margin: 0% 0% 0% 30%;
}

#emily {
  width: 8rem;
  margin: 0% 0% 0% 30%;
}

#david {
  width: 8rem;
  margin: 0% 0% 0% 30%;
}

#imgSaraSmith {
  width: 8rem;
  margin: 0rem 0rem 0rem 0rem;
}

#quemsomos1 {
  font-size: 1.25rem;
  font-family: cursive;
  padding: 1rem 1rem 1rem 1rem;
  color: var(--preto);
  background-color: var(--amarelo);
  margin: 10% 30% 10% 30%;
}

#fundador {
  font-size: 1.25rem;
  font-family: cursive;
  padding: 1rem 1rem 1rem 1rem;
  color: var(--preto);
  background-color: var(--amarelo);
  margin: 10% 30% 10% 30%;
}

#cofundadores {
  font-size: 1.25rem;
  font-family: cursive;
  padding: 1rem 1rem 1rem 1rem;
  color: var(--preto);
  background-color: var(--amarelo);
  margin: 10% 30% 10% 30%;
}

#divparanavegacao {
  display: flex;
  justify-content: space-around;
  background-color: var(--laranja);
  padding: 1rem 0rem;
}

article {
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

article {
  width: 10rem;
  margin: 1em;
}

.cardapio1 {
  font-size: 1.25rem;
  font-family: cursive;
  padding: 1rem 1rem 1rem 1rem;
  color: var(--preto);
  background-color: var(--amarelo);
  margin: 10% 30% 10% 30%;
  width: auto;
  text-align: center;
}

.corA {
  background-color: #FFD552;
}

@media (max-width: 800px) {
  .off1 {
    display: none;
  }
}
@media (max-width: 400px) {
  .off2 {
    display: none;
  }
}
#divparanavegacao {
  display: flex;
  justify-content: space-around;
  background-color: var(--laranja);
  padding: 1rem 0rem;
}

#formulario {
  background-color: #215663;
  margin: 0 15em;
}

label {
  font-weight: 800;
}

input {
  background-color: #29E26A;
  flex-direction: column;
  width: 70%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coluna1 {
  flex-direction: column;
  width: 40%;
  justify-content: center;
  margin: 2rem;
  align-items: center;
}

.coluna2 {
  justify-content: center;
}

#corV {
  background-color: #29E26A;
  width: 70%;
}

#idimg {
  width: 50%;
}

/*# sourceMappingURL=style.css.map */
