#fundadora{
    width: 7rem;
    margin:0% 0% 0% 30% ;
}

html{
    font-size: 16px;
}

#subchef {
    width: 8rem;
    margin:0% 0% 0% 30% ;
}

#marcel{
    width: 8rem;
    margin:0% 0% 0% 30% ;
}
#emily {
    width: 8rem;
    margin:0% 0% 0% 30% ;
}
#david{
    width: 8rem;
    margin:0% 0% 0% 30% ;
}
#imgSaraSmith{
    width: 8rem;
    margin: 0rem 0rem 0rem 0rem;
}
#quemsomos1{
    font-size: 1.25rem;
    font-family: cursive;
    padding: 1rem 1rem 1rem 1rem;
    color: var(--preto);
    background-color: var(--amarelo);
    margin: 10% 30% 10% 30%;
}
#fundador{
    font-size: 1.25rem;
    font-family: cursive;
    padding: 1rem 1rem 1rem 1rem;
    color: var(--preto);
    background-color: var(--amarelo);
    margin: 10% 30% 10% 30%;
}
#cofundadores{
    font-size: 1.25rem;
    font-family: cursive;
    padding: 1rem 1rem 1rem 1rem;
    color: var(--preto);
    background-color: var(--amarelo);
    margin: 10% 30% 10% 30%;
}